<%- include ('../../partials/header.ejs') %>  
<body>
    <%- include ('../../partials/navbar.ejs') %>  
    
    <div class="container">

        <div class="card mt-5 mb-3">
            <div class="card-header">
                <h2 class="">Editar de Categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="POST">
                    <input name="title" type="text" class="form-control" placeholder="Defina o Titulo da categoria" value="<%= category.title %>">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button class="btn btn-primary mt-3">Atualizar</button>
                </form>
            </div>
        </div>

        

    </div>



</body>
<%- include ('../../partials/footer.ejs') %>  