<%- include('../../partials/header'); -%>
<%- include('../../partials/navbar'); -%>

<div class="container">
    
    <br>
    <h2>Categorias</h2>
    <a class="btn btn-success btn-sm" href="/admin/categorias/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>

            </tr>
        </thead>
        <tbody>
            
                <% categorias.forEach(category => { %>

                    <tr>

                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categorias/editar/<%= category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/categorias/delete" style="display: inline;" onsubmit="confirmarDelet(event, this)">
                            <input type="hidden" name="id" value="<%= category.id  %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>

                    </th>

                    </tr>
                <% }) %>

        </tbody>
    </table>
</div>


<%- include('../../partials/footer'); -%>
<script>

    function confirmarDelet(event, form) {
        event.preventDefault();
        
        Swal.fire({
        title: "Você quer realmente quer deletar?",
        icon: "question",
        showCancelButton: true 
    }).then((result) => {
        if(result.isConfirmed) {
            form.submit();
        }
    });
        
    }

</script>